<div class="banner">
	<%= image_tag "our-team-banner2.jpg" %>
</div>

<div class="our-team">
	<div class="ot-header">
		<h3>Our Team</h3>
		<p>Our team is committed to changing lives one resume, job search and interview preparation at a time. We are not alone in this effort; we are fortunate enough to have a support network of regional leaders, volunteers, donors and organizations such as corporations and universities. Together, we are and will continue to provide essential support to homeless shelters and people experiencing homelessness.</p>
	</div>
	<div class="team-members">
		<h3>Leadership Team</h3>
		<hr>
		<div class="row">
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Danny Graziosi</h6>
					<p><i>Chief Executive Officer</i></p>
					<p>Ernst &amp; Young</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Jake Oppenheim</h6>
					<p><i>Chief Strategy Officer</i></p>
					<p>Goldman Sachs</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Anthony Manno</h6>
					<p><i>Chief Operating Officer</i></p>
					<p>University of Delaware</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Emily Rogers-Healion</h6>
					<p><i>Director of Development</i></p>
					<p>Heidrick &amp; Struggles</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Ariel Kutcher</h6>
					<p><i>Director of Marketing</i></p>
					<p>Binghamton University</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Liz Gerner</h6>
					<p><i>Director of Marketing Analytics</i></p>
					<p>Booz Allen Hamilton</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Miranda Wasserman</h6>
					<p><i>Director of PR and Fundraising</i></p>
					<p>PWC</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Elisabeth Ingersoll</h6>
					<p><i>Director of Development</i></p>
					<p>University of Pennsylvania</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="team-members">
		<h3>Board of Directors</h3>
		<hr>
		<div class="row">
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Matt Rojas</h6>
					<p><i>Trustee, Co-founder</i></p>
					<p>McKinsey &amp; Company</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Matt Sobel</h6>
					<p><i>Trustee, Co-founder</i></p>
					<p>Oracle</p>
				</div>
			</div>
			<div class="pod">
				<div class="headshot">
					
				</div>
				<div class="info">
					<h6>Will Cobb</h6>
					<p><i>Trustee</i></p>
					<p>Strategy&amp;</p>
				</div>
			</div>
		</div>
	</div>
</div>