<% content_for :title, "Lazarus Rising | Form Submitted" %>

<div class="fs-wrapper">
	<div class="form-submitted">
		<h1 class="fs-title">Thank You!</h1>
		<h4 class="fs-text">Thank you for your interest in Lazarus Rising and taking the first step (or one more step) towards supporting the homeless community. Together, we are providing essential support to people experiencing homelessness. One of our members will reach out shortly to discuss how you can get involved!</h4>

		<p class="fs-desc">Please connect with us on social media to stay up to date on Lazarus Rising and the state of homelessness across the country.</p>

		<p class="fs-links">
			<%= link_to 'https://www.facebook.com/LazarusRisingNonprofit/', :class => 'fs-link', target: :_blank do %>
				<%= fa_icon 'facebook-square' %> 
			<% end %>
			<%= link_to 'https://www.linkedin.com/company/lazarusrising', :class => 'fs-link', target: :_blank do %>
				<%= fa_icon 'linkedin' %> 
			<% end %>
		</p>
	</div>
</div>
