<div class="press-header">
	<div class="press-header-info">
		<h3>Press Room</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor magna eget lectus tempus, ac ultricies magna rutrum.</p>
	</div>
</div>

<div class="press-post-list">
	<div class="press-post">
		<div class="post-image">
			
		</div>
		<div class="post-info">
			<h4 class="post-title">Ward Melville, Commack alumni give job aid to homeless</h4>
			<p class="post-desc">Lazarus Rising holds résumé and mock interview workshops at homeless shelters</p>
			<p class="post-details"><i>Village Times Herald; 8/1/18</i></p>
			<%= link_to 'http://tbrnewsmedia.com/ward-melville-commack-alumni-give-job-aid-homeless/', '#', :class => 'post-link' %>
		</div>
	</div>
	<div class="press-post">
		<div class="post-image">
			
		</div>
		<div class="post-info">
			<h4 class="post-title">Ward Melville, Commack alumni give job aid to homeless</h4>
			<p class="post-desc">Lazarus Rising holds résumé and mock interview workshops at homeless shelters</p>
			<p class="post-details"><i>Village Times Herald; 8/1/18</i></p>
			<%= link_to 'http://tbrnewsmedia.com/ward-melville-commack-alumni-give-job-aid-homeless/', '#', :class => 'post-link' %>
		</div>
	</div>
	<div class="press-post">
		<div class="post-image">
			
		</div>
		<div class="post-info">
			<h4 class="post-title">Ward Melville, Commack alumni give job aid to homeless</h4>
			<p class="post-desc">Lazarus Rising holds résumé and mock interview workshops at homeless shelters</p>
			<p class="post-details"><i>Village Times Herald; 8/1/18</i></p>
			<%= link_to 'http://tbrnewsmedia.com/ward-melville-commack-alumni-give-job-aid-homeless/', '#', :class => 'post-link' %>
		</div>
	</div>
	<div class="press-post">
		<div class="post-image">
			
		</div>
		<div class="post-info">
			<h4 class="post-title">Ward Melville, Commack alumni give job aid to homeless</h4>
			<p class="post-desc">Lazarus Rising holds résumé and mock interview workshops at homeless shelters</p>
			<p class="post-details"><i>Village Times Herald; 8/1/18</i></p>
			<%= link_to 'http://tbrnewsmedia.com/ward-melville-commack-alumni-give-job-aid-homeless/', '#', :class => 'post-link' %>
		</div>
	</div>
</div>


