/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "normalize-rails";
@import "font-awesome";
@import "variables";

* {

}

body {
	position: relative;
}

a {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

#main_navigation {
	font-family: 'Open Sans';
	border-bottom: 1px solid $dark;
	text-align: center;
	padding: 0 5%;
	nav {
		display: inline-block;
		margin: 24px auto;
		width: 90%;
		a {
			margin: 0 2.5%;
			font-size: 10px;
			letter-spacing: 0.5px;
			color: $dark;
			padding-bottom: 5px;
			&:hover {
				border-bottom: 1px solid $dark;
			}
		}
		.donate {
			color: $brand-red;
			font-weight: 600;
			&:hover {
				border-bottom: 1px solid $brand-red;
			}
		}
	}
	.user-icon {
		float: right;
		margin: 24px 0;
		color: $dark
	}
}

#main_footer {
	border-top: 1px solid $dark;
	padding: 0 4%;
	margin: 0 auto;
	width: 92%;
	.footer-split {
		margin-top: 40px;
		.footer-left {
			width: 66.66%;
			float: left;
			.footer-left-col {
				width: 17%;
				float: left;
				padding: 0 4%;
				a {
					font-family: 'Open Sans';
					font-size: 9px;
					letter-spacing: 0.5px;
					color: $dark;
				}
				.footer-col-header {
					font-weight: bold;
				}
			}
		}
		.footer-right {
			width: 33.33%;
			float: right;
			font-family: 'Open Sans';
			color: $dark;
			.footer-right-header {
				font-size: 9px;
				font-weight: bold;
				letter-spacing: 0.5px;
			}
			.footer-email {
				position: relative;
				.footer-email-input {
					display: inline;
					color: $input-placeholder;
					letter-spacing: 0.4px;
					font-size: 8px;
					width: 100%;
					position: absolute;
				}
				.footer-email-submit {
					color: $dark;
					position: absolute;
					right: 5px;
				}
			}
			.footer-copyright {
				font-size: 9px;
				font-weight: 600;
				letter-spacing: 0.5px;
				text-align: center;
				a {
					color: $dark;
				}
			}
		}
	}
	.footer-bottom {
		text-align: center;
		font-family: 'Open Sans';
		font-size: 9px;
		letter-spacing: 0.5px;
		color: $muted;
		margin: 50px 0 40px 0;
	}
}
