

@import "variables";

.form-submitted {
	margin: 30px 15%;
	font-family: 'Crimson Text';
	h1 {
		text-align: center;
	}
	h1,
	h4 {
		font-family: 'Open Sans';
	}

	a {
		color: $dark;
		font-size: 36px;
		text-align: center;
		letter-spacing: 30px;
	}
}
