// Place all the styles related to the press_room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.press-header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid $dark;
	display: inline-block;
	background-color: $placeholder-bg;
	.press-header-info {
		width: 60%;
		margin: 50px auto;
		h3 {
			font-family: 'Work Sans';
			font-size: 24px;
			letter-spacing: 0.8px;
			color: $dark;
		}
		p {
			font-family: 'Crimson Text';
			font-size: 16px;
			letter-spacing: 1.1px;
			color: $dark;
		}
	}
}

.press-post-list {
	width: 70%;
	margin: 50px auto;
	.press-post {
		margin: 20px auto;
		min-height: 120px;
		display: block;
		overflow: auto;
		.post-image {
			width: 120px;
			min-height: 120px;
			background: $placeholder-bg;
			float: left;
			margin-right: 10px;
		}
		.post-info {
			.post-title {
				font-family: 'Work Sans';
				font-size: 16px;
				letter-spacing: 0.5px;
				color: $dark;
				margin: 0 10px;
			}
			.post-desc {
				font-family: 'Crimson Text';
				font-size: 15px;
				letter-spacing: 1.1px;
				color: $dark;
				margin: 0 10px;
			}
			.post-details {
				font-family: 'Crimson Text';
				font-size: 11px;
				letter-spacing: 1.3px;
				color: $dark;
				margin: 0 10px;
			}
			.post-link {
				font-family: 'Work Sans';
				font-size: 8px;
				letter-spacing: 0.5px;
				color: $brand-red;
				margin: 0 10px;
			}
		}
	}
}

